.content {
  margin-top: 0.5rem;
}
.document-passage:not(:last-child) {
  margin-bottom: 1rem;
}

.document-passage .filename {
  font-size: inherit;
  font-family: inherit;
  margin-bottom: 1rem;
}

.document-passage .filename span {
  font-weight: bold;
}

.highlight-passage em {
  font-weight: bold;
}

.highlight-passage em:hover {
  background-color: #a6c5ff;
}
