APIKEY="IBM Cloud APIKEY"
CLOUD_REGION="IBM Cloud Region"
CR_SERVER="Container Registry URL"
CR_NAMESPACE="Container Registry Namesapce"
CR_IMAGE_NAME="Container Registry Image Name"
WD_API_KEY="Watson Discovery APIKEY"
WD_API_VERSION="2020-08-30"
WD_SERVICE_URL="Watson Discovery Service URL"
WD_PROJECT_ID="Watson Discovery Project ID"
WD_COLLECTION_ID="Watson Discovery Collection ID"
APPID_CLIENT_ID="AppId Client ID"
APPID_TENANT_ID="AppId Tenant ID"
APPID_SECRET="AppId Secret"
APPID_OAUTH_URL="AppId Oauth URL"
CLOUDANT_API_KEY="Cloudant APIKEY"
CLOUDANT_SERVICE_URL="Cloudant Service URL"
COS_API_KEY="Cloud Object Storage APIKEY"
COS_INSTANCE_ID="Cloud Object Storage Instance ID"
COS_ENDPOINT="Cloud Object Storage Endpoint"
COS_BUCKET="Cloud Object Storage Bucket"